.blog-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.filter{
    border-top: 2px solid #ccc;

  
}
.filter h2{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.form-filter{
    margin-top: 12px;
}
.form-filter select,input{
border: 1px solid #ccc;
border-radius: 16px;
margin-right: 10px;

outline: none;
}
