.main-container{
    height: 100%;
}
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-slide{
height: 100%;
padding-bottom: 20px;
}
.blog-wrapper .blogItem{
    height: 100% !important;
}
.blog-aside .blogItem{
    width: 90% !important;
}
@media screen and (max-width:991px) {
    .blog-aside .blogItem{
        width: 100% !important;
    }
}