
.swiper-div .swiper-wrapper {
  height: 250px;
  }
  .swiper-div img {
    max-height: 180px;
    }

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and  (max-width:768px) {
  .swiper-div .swiper-wrapper {
    height: 150px;
    }
}

@media screen and  (max-width:1024) {
  .swiper-div .swiper-wrapper {
    height: 180px;
    }
}



