@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');





* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",

    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.text{

  font-size: 1.2rem;
  font-weight: 400;
  color: #333;
}

.image-hero {
  transform: rotate(0deg) !;

  top: 0;
  left: -500px;
  top: 0;

}

@media screen and  (max-width:768px) {
  .image-hero{
    transform: rotate(-90deg);
   top:300px;
  left: -20px;
  width: 100%;
  overflow: hidden;
  
  }

}

nav{
  z-index: 99999;
}

#circle-img{
  
  
}
